body {
  margin: 0;
  font-family: "Sans", sans-serif;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

#tabs {
  position: fixed;
  left: 0;
  top: 50px;
  width: 200px;
  height: 100%;
  background-color: #f0f0f0;
  overflow-y: scroll;
}

#tabs div {
  padding: 10px;
  cursor: pointer;
  background-color: #ccc;
  margin: 5px 0;
}

#tabs div:hover {
  background-color: #aaa;
}

#search-bar.hidden {
  display: none;
}

#search-bar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

#search-input {
  width: 400px;
  padding: 10px;
  font-size: 18px;
}

.hidden {
  display: none;
}

#cat-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  cursor: pointer;
}
